<h1>You have bought some stock</h1>
The ask price is <%= @ask %> and the full quote is
<hr/>
<%= @quote %>
<hr/>

The exchange is <%= @exch %>
and the stock symbol is <%= @sym %>
and the quantity is <%= @qty %>
You already have <%= @stockholding.quantity %> shares