Your rank is <%=h @the_rank %> out of <%=h @membership %> members
<table border="1" cellpadding="10"> 
<tr>
	<td> member </td>
	<td> current value</td>
	<td> starting date</td>
</tr>
<% @leaders.each do |a| %>
<tr>
	<td> 
	 <a href="/portfolio/list/<%=h a.username %>"><%=h a.username %></a>
	</td>  
	<td>
		 $<%=h a.current_value %> as of <%=h a.updated_at.strftime "%m/%d/%Y" %>
	</td> 
	<td>
		<%=h a.created_at.strftime "%m/%d/%Y" %>
	</td>
</tr>
<% end %>

</table>