
<div class="natural" style="clear:both; text-align:center">
<h2>Portfolio for <%=@member_name %> </h2>
<table border="1" style="margin-left:auto; margin-right:auto">
<tr>
	<td colspan="8" style="text-align:center;padding-bottom:20px">US Dollars $<%= @cash.quantity %> still available to purchase stock</td></tr> 
	
<tr>
	<% if @authorized %>
 <td>Buy</td>	
	<% end %>
 <td> Sym</td>
 <td> Qty</td>
 <td> Ask </td>
 <td> Bid</td>
 <td> Current Value </td>
 <%- if (@authorized) %>
 <td colspan="2"> Sell </td>
 <%- else %>
 <td colspan="2"> </td>
 <%- end %>
 </tr> 
<%-  @y.each do |s| -%>
   <tr> 
   <%- if (@authorized) -%>
     <td style="background:rgb(0,255,0)"> 
	   <form method="post" action="/portfolio/buy/NASD/<%= s[0] %>/100"> <input type="submit" value="BUY 100" /> </form></td>
   <%- end -%>
     <td><%= s[0] %></td><td><%= s[1] %></td><td><%= s[2] %></td><td><%= s[3] %><td style='text-align:right'>$<%= s[4] %></td>
   <%- if (@authorized) -%>
     <td style="background:rgb(255,0,0)"> 
	    <form method="post" action="/portfolio/sell/NASD/<%= s[0] %>/100"> <input type="submit" value="SELL 100" /> </form></td>
<td style="background:rgb(255,0,0)"> 
	    <form method="post" action="/portfolio/remove/<%= s[0] %>"> <input type="submit" value="SELL ALL" /> </form></td>
   <%- end -%>
   </tr>
<% end %>
</table>
</div>


<%- if (@authorized) %>
<div style="text-align:center; float:right; border: 10px double blue">
Add stocks to your portfolio
<div>
	<a href="/NASD3.html"> Select a stock </a>
</div>
or<br/>
<form method="post" action="/portfolio/add">
	enter a NASDAQ symbol name

	<input type="text" name="symbol" value="GOOG" style="background:yellow"/>
	and 	<input type="submit" value="buy it" />
</form>
 </div>
<%- end %>

<div style="width:30%; border:10px double blue">
<table border="0">
<tr><td colspan="4">Current Value of Stocks</td>
    <td style='text-align:right'>$<%= @currentvalue %></td><td></td></tr>
<tr><td colspan="4">Current Cash</td>
    <td style='text-align:right'>$<%= @cash.quantity %></td><td></td></tr>
<tr><td colspan="4">Total Value  (Stocks + Cash)</td>
    <td style='text-align:right'>$<%= @totalvalue %></td><td></td></tr>
</table>

</div>


	
