<h1>Portfolio for <%=h @the_user.username %></h1>

<table border="1">
<tr>
 <td>Buy</td>	
 <td> Sym</td>
 <td> Qty</td>
 <td> Bid</td>
 <td> Current Value </td>
 <td> Sell </td>
 </tr> 
<%-  @y.each do |s| -%>
   <tr> 
     <td style="background:rgb(0,255,0)"> <a href="/portfolio/buy/NASD/<%= s[0] %>/100"> BUY 100</a></td>
     <td><%= s[0] %></td><td><%= s[1] %></td><td><%= s[2] %></td><td style='text-align:right'>$<%= s[3] %></td>
     <td style="background:rgb(255,0,0)"> <a href="/portfolio/sell/NASD/<%= s[0] %>/100"> SELL 100</a></td>
   </tr>
<% end %>
<tr><td colspan="3">Current Value</td><td style='text-align:right'>$<%= @currentvalue %></td></tr>
</table>

