<h1>You have sold some stock</h1>
The exchange is <%= @exch %>
and the stock symbol is <%= @sym %>
and the quantity is <%= @qty %> and the price is <%= @bid %>
You already have <%= @stockholding.quantity %> shares