<p>
  <b>User:</b>
  <%=h @portfolio.user_id %>
</p>

<p>
  <b>Stock:</b>
  <%=h @portfolio.stock_id %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @portfolio.quantity %>
</p>


<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>