<h1>Editing stock</h1>

<% form_for(@stock) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :exchange %><br />
    <%= f.text_field :exchange %>
  </p>
  <p>
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @stock %> |
<%= link_to 'Back', stocks_path %>